@use '../utils/' as *;

/*
============================
Name:  HouseBox - Real Esate Template
Version: 1.0.0
Description: HouseBox - Real Esate Template
Author: alithemes
Author URI: https://themeforest.net/user/alithemes/portfolio
Location:
============================
*/

/*============= HEDAER CSS AREA ===============*/
/*============= HERO CSS AREA ===============*/
/*============= MOBILE-MENU CSS AREA ===============*/
/*============= ABOUT CSS AREA ===============*/
/*============= SERVICE CSS AREA ===============*/
/*============= WORK CSS AREA ===============*/
/*============= TESTIMONIAL CSS AREA ===============*/
/*============= BLOG CSS AREA ===============*/
/*============= CONTACT CSS AREA ===============*/
/*============= TEAM CSS AREA ===============*/
/*============= FAQ CSS AREA ===============*/
/*============= CASE CSS AREA ===============*/
/*============= CTA CSS AREA ===============*/
/*============= OTHERS CSS AREA ===============*/
/*============= ITEMS CSS AREA ===============*/
/*============= PROPERTIES CSS AREA ===============*/
/*============= PROPERTIES_LOCATION CSS AREA ===============*/
/*============= PROJECT CSS AREA ===============*/
/*============= FOOTER CSS AREA ===============*/